

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color: white;
    --search:#dee9f3;
    --blue:#2979ff;
    --gray-dark: #444655;
}
.grid{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
.header{
    background-color: var(--color);
    width: 1440px;
    max-width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.head{
    display: flex;
    justify-content: space-around;
    padding: 12px 0px;
    align-items: center;
    flex-direction: row;
    width: 1440px;
    max-width: 100%;
    height: auto;
    
}

.head a{
    text-decoration: none;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: 0px !important;
    padding: 0px !important;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    width: 800px;

}
.head-icon{
    margin-left: 100px;
    cursor: pointer;
    display: block;
}
.head-icon img{
    height: 40px;
    width: 100px;
}
.nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   
}
.nav-item img{
    width: 40px;
    margin: 10px;
}
.text-center{
    text-align: center;
    width: auto;
    height: 50px;
}
.recommend-more{
    font-size: 18px;
    font-weight: 500;
    padding: 10px 15px;
    color: rgb(141, 141, 141);
    background-color: rgb(240, 240, 240);
    border-radius: 12px;
    border: none;
    margin-bottom: 50px;
    transition: all 0.5s ease 0s;
}
.nav-item a{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: black;
}
.head-search{
    width: 300px;
    height: auto;
    display: block;
    position: relative;
}
.search-input{
    border-radius: 30px;
    width: 300px;
    height: 50px;
    background-color: var(--search);
    font-size: 20px;
    border: none;
    z-index: 10;
    padding-left: 20px;
    padding-right: 67px;
    padding-bottom: 3px;
}
.find{
    position: absolute;
    top: 0%;
    left: 80%;
    width: 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-input:focus{
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: 2px var(--search) solid;
    transition: background-color 0.25s linear, color 0.25s linear;

} 
.search-input:focus ~ .find{
    color: var(--color);
    background-color: #2979ff;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: background-color 0.25s linear, color 0.25s linear;
}
.accordion-border{
    border-bottom: 1px solid rgb(223, 232, 246) !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
}
.search-input::placeholder{
    font-weight: 600;
    font-size: 18px;
}
.text-button-topic{
    font-size: 1.5rem;
    font-weight: 500;
}
.text-button{
    font-size: 1.3rem;
}
.button-topic{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.button-topic i{
    margin-right: 10px;
}
.head-shopping{
    width: 50px;
    font-size: 40px;
    color: var(--search);
    position: relative;
}
.focus-discover{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    top: 10%;
    left: 10%;
    position: absolute;
}
.head-avatar{
    width: 60px;
}
.head-avatar img{
    cursor: pointer;
    border-radius: 50%;
}
.head-login{
    width: 150px;
}
.nav li a:hover{
    color: #2979ff;
    transition: background-color 0.25s linear, color 0.25s linear;
}   
.head-login_conten {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    border: 2px var(--blue) solid;
    border-radius: 40px;
    width: 150px;
    height: 50px;
}
.nav-item.head-discover:hover .list-discover{
    visibility: visible;
}
.list-discover {
    visibility: hidden;
    position: absolute;
    top: 13%;
    left: 55%;
    background-color: gray;
    width: 510px;
    z-index: 100000;
    border-radius: 10px;
    box-shadow: 0px 3px 8px rgb(153 196 227 / 25%);
    background-color: white;
    margin: 0 !important;
}
.nav-item.head-discover .list-discover::after{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 10%;
    margin-left: -5px;
    border-width: 17px;
    border-style: solid;
    border-color: transparent transparent rgba(112, 129, 141, 0.5) transparent;
}
.list-discover li{
    float: left;
    width: 170px;
    height: 70px;
    padding: 22px 0;  
}
.list-discover li a{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.list-1 i{
    color: rgb(41, 121, 255) !important;
}
.list-2 i{
    color: rgb(35, 194, 127) !important;
}
.list-3 i{
    color: rgb(237, 28, 36) !important;
}
.head-support{
    width: 100px;
}
.head-discover_img img{
    width: 50px;
    height: 50px;
}
.head-discover{
    margin: 12px 0;
    padding: 30px 0;
}
.head-discover_conten{
    position: relative;
}
.head-discover p{
    width: 90px;
    height: 47px;
}
.list-1,.list-2,.list-3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}
.alert-dismissible{
    max-width: 390px;
}
.list-1,.list-2{
    border-right: 1.5px solid #b1cdfc;

}
.list-1 i,.list-2 i,.list-3 i{
    padding-right: 10px;
}
.content{
    background-color: #f8f9ff;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}
.content-index{
    width: 95%;
    margin: 0 auto;
}
@media screen and (max-width:400px) {
    .body{
        width: 390px;
        height: 180px;
    }
    .slick-slider{
        position: relative;
        width: 390px;
        height: 180px;
    }
    .slick-list1{
        overflow: hidden;
        height: 180px;
    }
    .slick-track1{
        /* overflow: hidden; */
        width: 500%;
        height: 180px;
        display: flex;
    }
    .slick-track1 input{
        display: none;
      }
    .myslide{
        width: 20%;
        transition: 2s;
        margin: 0;
    }
    .imgslide{
        width: 390px;
        height: 180px;
    }
    
    
    
    .navigation-manual{
        
        align-items: center;
        -webkit-box-align: center;
        display: flex !important;
        bottom: 20px;
        transform: translateX(-50%);
        left: 50%;
        position: absolute;
        
    }
    .manual-btn{
        border: 2px solid #bbb;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
      }
      
      .manual-btn:not(:last-child){
        margin-right: 40px;
      }
      
      .manual-btn:hover{
        background: #72b8ee;
      }
      
      #radio1:checked ~ .fade2{
        margin-left: 0;
      }
      
      #radio2:checked ~ .fade2{
        margin-left: -20%;
      }
      
      #radio3:checked ~ .fade2{
        margin-left: -40%;
      }
      
      #radio4:checked ~ .fade2{
        margin-left: -60%;
      }
      
     
      
      .navigation-auto{
        align-items: center;
        -webkit-box-align: center;
        display: flex !important;
        bottom: 20px;
        transform: translateX(-50%);
        left: 50%;
        position: absolute;
      }
      
      .navigation-auto div{
        border: 2px solid #bbb;
        padding: 5px;
        border-radius: 10px;
        transition: 1s;
      }
      
      .navigation-auto div:not(:last-child){
        margin-right: 40px;
      }
      
      #radio1:checked ~ .navigation-auto .auto-btn1{
        background: #72b8ee;
      }
      
      #radio2:checked ~ .navigation-auto .auto-btn2{
        background: #72b8ee;
      }
      
      #radio3:checked ~ .navigation-auto .auto-btn3{
        background: #72b8ee;
      }
      
      #radio4:checked ~ .navigation-auto .auto-btn4{
        background: #72b8ee;
      }
}
@media screen and (width:1500px ) {
    .body{
        width: 100%;
        max-width: 1440px;
    }
    .slick-slider{
        position: relative;
        height: 600px;
    }
    .slick-list1{
        overflow: hidden;
        height: 600px;
    }
    .slick-track1{
        /* overflow: hidden; */
        width: 500%;
        height: 600px;
        display: flex;
    }
    .slick-track1 input{
        display: none;
      }
    .myslide{
        width: 20%;
        transition: 2s;
        margin: 0;
    }
    .imgslide{
        width: 1440px;
        height: 600px;
    }
    
    
    
    .navigation-manual{
        
        align-items: center;
        -webkit-box-align: center;
        display: flex !important;
        bottom: 20px;
        transform: translateX(-50%);
        left: 50%;
        position: absolute;
        
    }
    .manual-btn{
        border: 2px solid #bbb;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
      }
      
      .manual-btn:not(:last-child){
        margin-right: 40px;
      }
      
      .manual-btn:hover{
        background: #72b8ee;
      }
      
      #radio1:checked ~ .fade2{
        margin-left: 0;
      }
      
      #radio2:checked ~ .fade2{
        margin-left: -20%;
      }
      
      #radio3:checked ~ .fade2{
        margin-left: -40%;
      }
      
      #radio4:checked ~ .fade2{
        margin-left: -60%;
      }
      
     
      
      .navigation-auto{
        align-items: center;
        -webkit-box-align: center;
        display: flex !important;
        bottom: 20px;
        transform: translateX(-50%);
        left: 50%;
        position: absolute;
      }
      
      .navigation-auto div{
        border: 2px solid #bbb;
        padding: 5px;
        border-radius: 10px;
        transition: 1s;
      }
      
      .navigation-auto div:not(:last-child){
        margin-right: 40px;
      }
      
      #radio1:checked ~ .navigation-auto .auto-btn1{
        background: #72b8ee;
      }
      
      #radio2:checked ~ .navigation-auto .auto-btn2{
        background: #72b8ee;
      }
      
      #radio3:checked ~ .navigation-auto .auto-btn3{
        background: #72b8ee;
      }
      
      #radio4:checked ~ .navigation-auto .auto-btn4{
        background: #72b8ee;
      }
}


.body-extra{
    width:100%;
    max-width:  1440px;
    padding: 75px 0 40px;
}
.bdet-cotainer{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
}
.bdet-f{
    margin: 0 auto 60px;
    max-width: 65%;
    font-weight: 700;
    text-align: center;
    font-size: 35px;
    color: #273167;
}
.bdet-f .bdet-s .bdet-t{
    margin: 0 auto;
}
.bdet-s{
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.bdet-s1{
    
    max-width: 1140px;
}
.bdet-s2{
    border: 1px;
    
}
.bdet-s2 {
    
    height: 326px;
    margin: 0 0;
    /* line-height: 309px; */
    text-align: center;
    border: 10px;
    display: flex;
    align-items: center;
    /* justify-content:space-between; */
}
.bdet-item{
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    padding: 25px 0px 25px;
    /* max-width: 255px;
    max-height: 309px; */
    background-color: #fff;
    margin: 0 20px;
    border-radius: 20px;
    display: flex;
    box-shadow: 0 0 8px 0 rgba(66,165,245,0.15);
}
.bdet-ava{
    border-radius: 100px;
    width: 100%;
    height: 100%;
    max-width: 142px;
    max-height: 142px;
    margin: 0 auto 25px;
    box-shadow: 4px 4px 16px 0 rgba(66,165,245,0.3);
    
}

/* .bdet-ava1{
    border: 4px solid white;
    border-radius: 100px;
    height: 150px;
     width: 150px;
    z-index: 2;
    margin: 0 auto 25px;
    background-color: white;
    position: relative;
} */

.bdet-cv{
    font-size: initial;
    margin-bottom: 5px;
    font-weight: 300;
    color: #666;
    white-space: nowrap;
}
.bdet-ht{
    font-weight: 700;
    font-size: 20px;
    margin-top: auto;
    color: #273167;

}
.slick-prev{
    position: absolute;
    top: 48%;
    left: 0;
    transform: translateY(-50%);
    background-color: #2979ff;
    color: white;
    border: none;
    z-index: 2;
    border-radius: 50%; 
}

.slick-next{
    position: absolute;
    top: 48%;
    right: 0;
    transform: translateY(-50%);
    background-color: #2979ff;
    color: white;
    border: none;
    z-index: 2;
    border-radius: 50%;
    
}
.slick-prev:hover{
    background-color: #0d6efd;
    
}
.slick-next:hover{
    background-color: #0d6efd;
}

.fa-angle-left:before{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slick-list{
    padding-top: 10px;
    padding-bottom: 50px;
}
.slick-arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2 linear;
}
.fa {
    padding: 10px 20px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.linktv{
    max-width: 150px;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 90px;
    font-size: 30px;
    left: 10%;
}
.fa-facebook{
    color: #273167;
    margin: 0 auto;
}
.fa-github{
    color: #273167;
    margin: 0 auto;
}
.fa-instagram{
    color: #273167;
    margin: 0 auto;
}

.bdet-t{
    text-align: center;
    max-width: 1140px;
    margin: 0 auto;
}
.bdet-text{
    display: inline-block;
    border-bottom: 1px solid #72b8ee;
    padding-bottom: 15px;
    font-size: 20px;
    color:#273167;
}
.main-content{
    width: 100%;
    max-width: 1440px;
    margin-bottom: 30px;
}
.main-content_abc{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
.main-content_text{
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 22px;
    color:#273167;
}
.fa-book{
    color:rgb(250, 151, 104) ;
    margin-right: 10px;
}
.main-content_slide{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.main-c-slide{
    display: block;
    height: 360px;
    text-decoration:none;
}
.main-c-slide1{
    border-radius: 12px;
    --featured:180px;
    height: 100%;
    box-shadow: 0 0 8px 0 rgba(66,165,245,0.15);
    background: white;
    overflow: hidden;
    max-height: 337px;
    width: 100%;
    max-width: 347px;
    
}
.main-c-slide1_t{
    position: relative;
    max-width: 347px;
    height: 100%;
    max-height: 180px;
}
.img-ms{
    width: 100%;
    height: 100%;
}
.main-c-slide1_b{
    flex-flow: column nowrap;
    padding: 15px;
    height: 100%;
    max-height: 150px;
    display: flex;
}
.main-c-slide1-text{
    color: #474747;
    margin-bottom: 15px;
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
}
.main-c-slide1-icon{
    margin: 0 0;
    margin-top: auto;
    justify-content: space-between;
    -webkit-box-pack: justify;
    align-items: center;
    -webkit-box-align: center;
    display: flex;
}
.main-c-icon{
    font-size: 15px;
    font-weight: 500;
    color: #a5a5a5;
    align-items: center;
    -webkit-box-align: center;
    display: flex;
}
.icon-main{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    max-width: 25px;
    max-height: 25px;
}
.text-main{
    white-space: pre-wrap;
    -webkit-line-clamp: 1;
    font-size: 16px;
    color: #8d8d8d;
    padding-right: 10px;
    max-width: 100%;
}
.main-c-bt0{
    font-size: 16px;
    color: #a5a5a5;
    left:  0;

}
.main-c-bt{
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    margin: 0px;
}
.img-main-c-bt{
    background-color: #1473e6;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 3px 6px;
    position: relative;
    text-transform: uppercase;
}
.fa-clock-rotate-left{
    color:rgb(250, 151, 104) ;
    margin-right: 10px;
}
.fa-book-open{
    color:rgb(250, 151, 104) ;
    margin-right: 10px;
}
.img-main-c-bt1{
    background-color: #14e684;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 3px 6px;
    position: relative;
    text-transform: uppercase;
}
.img-main-c-bt2{
    background-color: #eb972a;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 3px 6px;
    position: relative;
    text-transform: uppercase;
}
.text-center{
    text-align: center;
    width: auto;
    height: 50px;
}
.recommend-more:hover{
    background-color: #0d6efd;
    color: white;
}
#main-c1 , #main-c2 , #main-c3 , #main-c4 {
    cursor: pointer;
}
#main-c5 , #main-c6 , #main-c7 , #main-c8 , #main-c9 {
    cursor: pointer;
}
.footermt{
    width: 100%;
    max-width: 1440px;
}
.footer1{
    background-size: cover;
    background-color: transparent;
    background-image: url('https://kt.city/static/footer-bg.png');
    padding-top: 50px;
    background-position: center top;
}
.footer1-t{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    -webkit-box-align: start;
    max-width: 1280px;
    padding: 0 20px;
    justify-content: space-between;
    -webkit-box-pack: justify;
    margin: 0 auto;
}
.footer1-t-item{
    width: calc(20% - 35px);
    padding: 0;
    margin: 0;
}
.a-extra{
    margin-bottom: 20px;
    margin-top: -10px;
    display: block;
}
.img-extra{
    max-height: 35px;
    display: block;
    max-width: 100%;
    text-indent: -99999em;
    margin: 0;
}
.footer1-t-text{
    margin-top: 10px;
}

.footer1-t-textbold{
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;

}
#footer1-t-bt3 ,#footer1-t-bt2 , #footer1-t-bt1 {
    cursor: pointer;
}
#footer1-t-bt3:hover ,#footer1-t-bt2:hover , #footer1-t-bt1:hover {
    color: #0d6efd;
}
.link123{
    display: grid;
    gap: 0px 10px;
    grid-template-columns: repeat(3, 40px);
    margin-bottom: 20px;
    
}
.fab{
    font-size: 40px;
    /* color: #8d8d8d; */
    
}

.footer1-t-linkgr{
    text-decoration: none;
    height: 40px;
    width: 40px;
    justify-content: center;
    -webkit-box-pack: center;
    color: #666;
    background-color: white;
    align-items: center;
    -webkit-box-align: center;
    display: flex;
    border-radius: 50%;
    transition: all 0.25s ease 0s;
}
.fa-facebook-f{
    color: #666;
}
.footer1-t-linkgr:hover{
    background-color: #1473e6;
    color: white;
}
.fa-facebook-f:hover{
    color: white;
}
.fa-telegram:hover{
    color: white;
}
.footer1-b{
    margin: 10px auto 0;
    max-width: 700px;
    padding: 20px;
    color: var(--gray-dark);
    text-align: center;
}
.fake-sale{
    border-radius: 10px;
    position: fixed;
    bottom: 20px;
    left: 200px;
    z-index: 9999999999999 !important;
    text-decoration: none;
    background-color: white;
    text-decoration: none;
}
.fake-sale-container{
    text-decoration: none;
    width: 350px;
    border: 0;
    text-align: left;
    z-index: 99999;
    box-sizing: border-box;
    font-weight: 400;
    border-radius: 6px;
    box-shadow: 2px 2px 10px 2px hsla(0, 4%, 4%, 0.2);
    background-color: #fff;
    position: relative;
    cursor: pointer;
}
.fake-sale-container1{
    display: flex !important;
    align-items: center;
    height: 130px;
}
.fs-t img {
    max-height: 130px;
    max-width: 120px;
    overflow: hidden;
    border-radius: 6px 0 0 6px;
    object-fit: cover;
    
}
a{
    text-decoration: none;
}
.fs-b {
    margin: 0;
    height: 100%;
    text-decoration: none;
    color: #273167;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 6px 6px 0;
    flex: 1;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    
}
.fs-b-content{
    text-decoration: none;
    font-family: inherit !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 17px;
    line-height: 30px;
    -webkit-line-clamp: 3;
    max-height: 60px;
}
#country{
    font-weight: bold;
}
.small1{
    color:#8d8d8d ;
    margin: 0 !important;
    margin-top: 30px !important;
    display: block !important;
    font-size: 12px !important;
    opacity: .8;
}
#time{
    margin: 0;
}
.fs-close{
    position: absolute;
    top: 8px;
    right: 8px;
    height: 12px;
    width: 12px;
    cursor: pointer;
    transition: .2s ease-in-out;
    transform: rotate(45deg);
    opacity: 0;
}
.fs-close::before{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: gray;
    position: absolute;
    left: 0;
    top: 5px;
}
.fs-close::after{
    content: "";
    display: block;
    height: 100%;
    width: 2px;
    background-color: gray;
    position: absolute;
    left: 5px;
    top: 0;
}
.fs-close:hover{
    opacity: 1;
}
